<!DOCTYPE html>

<title>The Le Lapin Doux Pastries Blog - Le Lapin Doux makes small batch, handcrafted pastries in Newport News Virginia.  Le Lapin Doux sells small made-to-order, mainly French and Japanese inspired bakery items in the Hampton Roads Virginia area.  The owner and head baker, Gracinha, is Le Cordon Bleu Paris trained.</title>

<div class="container">



<div class="blog-entry">

  <h1>The Le Lapin Doux Pastries Blog</h1>

  <p><a href="/static_pages/blog_entry_test.html">Test Entry</a></p>
  <p>Blog Title</p>
  <p>Blog Title</p>
  <p>Blog Title</p>

  <img class="pic img-responsive" src="https://s3-us-west-2.amazonaws.com/lelapindoux/TEST+IMAGE.jpg" alt="Bike" width="1000">

</div><!-- END BLOG INDEX -->



</div><!-- END CONTAINER -->