// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background-color: #0000e5;
}

.container {
  width: 100%;
  padding: 0;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 4em;
}

h2 {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 2em;
}

p {
  font-family: 'Homemade Apple', cursive;
  color: #ffd700;
  font-size: 2em;
}

/*NAVBAR*/
#nav {
	top: 0;
	background-color: #0000e5;
	position: fixed;
	width: 100%;
	height: 50px;
  z-index: +1;
	opacity: 0.75;
}

.navbar {
	height: 50px;
}

.navhome {
	width: 20%;
	float: left;
}

.menu {
	width: 70%;
	display: inline-block;
  text-align: right;
  font-size: 20px;
}

.menu li a {
  height: 50px;
}

.menu .glyphicon {
  color: #ffd700;
  padding-right: 2em;
}

.navbar-collapse {
	float: right;
}

.nav li a {
	margin-left: 1em;
}

.nav a :hover {
    color: white;
  transition: color 950ms;
}

.menu {
  float: right;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffd700;
}
/*NAVBAR*/









/*FOOTER*/

.disclaimer {
	padding-top: 50em;
	width: 98%;
	text-align: right;

}

.blank {
	width: 95%;
	height: 2em;
	padding-top: 0;
	text-align: right;
	margin: auto;
	border-bottom : 1px solid #262626;
}

#footer-lg {
	width: 95%;
	height: 50px;
	margin: auto;
	padding-bottom: 5em
}

.fb-like {
	float: left;
	padding-bottom: 2em;
	height: 50px
}

.socialfooter {
	width: 10%;
	float: left;
	padding-bottom: 2em;
	height: 50px;
	padding-left: 4px;
}

.socialfooter img {
	padding-left: 6px;
}

.footerlogo {
	width: 50%;
	height: 50px;
	display: inline-block;
    float: right;
    font-family: 'Chelsea Market', cursive;
  color: #ffd700;
    font-size: 175%;
}

#footer-lg .footerlogoinside {
	float: right;
}

/*FOOTER MOBILE*/
#footer-sm {
	text-align: right;
	padding-bottom: 1em;
}

.socialfooter-sm {
	padding-left: 0;
	padding-right: 0;
	padding-top: 1em;
	padding-bottom: 2em;
}

.footerlogo-sm {
	padding-left: 0;
	padding-right: 0;
	text-align: right;
}

#footer-sm > div.fb-like-sm > div {
	float: inherit;
}
/*FOOTER MOBILE*/

/*FOOTER*/








/*CAROUSEL*/
.carousel {
  top:50px;
  z-index: 0;
}

.carousel p {
  font-family: 'Homemade Apple', cursive;
  color: white;
  font-size: 2em;
  text-align: left;
}
/*CAROUSEL*/






/* BIG GLYPHS */
.landing_info {
  padding-top: 35em;
  padding-bottom: 70em;
  text-align: center;
}

.row {
  width: 90%;
  margin: auto;
}

.row .glyphicon  {
  font-size: 9em;
  color: #ffd700;
  padding-top: 16%;
  padding-bottom: 0;
}

.row .bigglyphs {
	text-align: center;
}

.row img {
	padding-bottom: 8%;
	text-align: center;
}

.button p {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 2em;
}
/* BIG GLYPHS */




/* BLOG ENTTRIES */
.blog-entry h1 {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 4em;
}

.blog-entry h2 {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 2em;
}

.blog-entry p {
  font-family: 'Homemade Apple', cursive;
  color: #ffd700;
  font-size: 2em;
}

.blog-entry {
  padding-top: 10%;
  padding-bottom: 45%;
  width: 90%;
  margin: auto;
}

.pic {
  margin: auto;
}
/* BLOG ENTTRIES */
