// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background-color: #0000e5;
}

.container {
  width: 100%;
  padding: 0;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  color: #ffd700;
  font-size: 4em;
}

p {
  font-family: 'Seaweed Script', cursive;
  color: #ffd700;
  font-size: 3em;
}

/*NAVBAR*/
#nav {
	top: 0;
	background-color: #0000e5;
	position: fixed;
	width: 100%;
	height: 50px;
  z-index: +1;
	opacity: 0.75;
}

.navbar {
	height: 50px;
}

.navhome {
	width: 20%;
	float: left;
}

.menu {
	width: 70%;
	display: inline-block;
}

.navbar-collapse {
	float: right;
}

.nav li a {
	margin-left: 1em;
	margin-right: 1em
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: orange;}

.nav a {
	transition: color 950ms;
}
/*NAVBAR*/






/*CAROUSEL*/
.carousel {
  	top:50px;
  z-index: 0;
}

.carousel p {
  font-family: 'Seaweed Script', cursive;
  color: white;
  font-size: 2em;
}
/*CAROUSEL*/

.landing_info {
  padding-top: 35em;
  padding-bottom: 35em;
}





