<!DOCTYPE html>
<html>
<head>
  <title>Le Lapin Doux - local, small batch, handcrafted pastries in Newport News Virginia.  Le Lapin Doux sells small made-to-order, mainly French and Japanese inspired bakery items in the Hampton Roads Virginia area.  The owner and head baker, Gracinha, is Le Cordon Bleu Paris trained.</title>


<!-- Watch the arrangement of the following.  Bootstrap won't work if not ordered right. -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%=csrf_meta_tags %>
<!-- Watch the arrangement of the following.  Bootstrap won't work if not ordered right. -->


</head>
<body>




  <!-- NAVBAR -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
        <div class="navhome" id="navhome">
         <a href="/" alt="Diablo"><img src="https://s3-us-west-2.amazonaws.com/lelapindoux/LOGO+LONG+YELLOW+FOR+NAVBAR.png"></a>
        </div>
        <div class="container-fluid menu">




           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/static_pages/blog.html" alt="Diablo"><span class="glyphicon glyphicon-bullhorn" data-toggle="tooltip" data-placement="right" title="Click on the green pill, stay in wonderland, and I show you how deep the rabbit hole goes."></span></a></li>
              <li><a href="/static_pages/contact.html" alt="Diablo"><span class="glyphicon glyphicon-phone-alt" data-toggle="tooltip" data-placement="right" title="Click on the green pill, stay in wonderland, and I show you how deep the rabbit hole goes."></span></a></li>
              <li><a href="/static_pages/about.html" alt="Diablo"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Click on the green pill, stay in wonderland, and I show you how deep the rabbit hole goes."></span></a></li>
              <li><a><span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" data-placement="right" title="This are is under construction. :)"></span></a></li>
            </ul>
          </div>




        </div><!--END MENU -->

      </nav> <!-- end nav -->
<!-- END NAVBAR -->





<%= yield %>








<!--FOOTER -->
    <footer class="visible-lg-block visible-md-block" id="footer-lg">

<!-- SOCIAL Footer
      <div class="socialfooter">
        <a href="https://instagram.com/slave_unit" target="_blank"><img src="img/instagram logo sm.png"></a><a href="https://slav3unit.bandcamp.com/releases" target="_blank"><img src="img/bc foot.png"></a><a href="https://www.flickr.com/photos/gracinhamarco/" target="_blank"><img src="img/flickr foot sm.png"></a>
      </div>
end socialfooter -->

      <!-- FB Like -->
      <div class="fb-like" data-href="https://lelapindoux.herokuapp.com/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

      <div class="footerlogo">
        <div class="footerlogoinside">
          &copy <a href="http://slaveunit.bitballoon.com/"><img src="https://s3-us-west-2.amazonaws.com/lelapindoux/SUWD+LOGO.jpg"></a> 2016
        </div>
      </div><!-- end footerlogo -->

    </footer>


  
<!-- mobile footer -->
    <footer class="visible-sm-block visible-xs-block" id="footer-sm">

      <div class="fb-like-sm">
        <div class="fb-like" data-href="https://lelapindoux.herokuapp.com/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div><!-- end fb-like-sm -->

<!-- FOOTER MOBILE
      <div class="socialfooter-sm">
        <a href="https://instagram.com/slave_unit" target="_blank"><img src="img/Instagram Logo.png"></a><a href="https://slav3unit.bandcamp.com/releases" target="_blank"><img src="img/bc mob2.png"></a><a href="https://www.flickr.com/photos/gracinhamarco/" target="_blank"><img src="img/flickr foot.png"></a>
      </div>
end socialfooter-sm -->

      <div class="footerlogo-sm">
        <div class="footerlogoinside">
          &copy <a href="http://slaveunit.bitballoon.com/"><img src="https://s3-us-west-2.amazonaws.com/lelapindoux/SUWD+LOGO.jpg"></a> 2016
        </div><!-- end footerlogoinside -->
      </div><!-- end footerlogo-sm -->
<!-- mobile footer -->
      
      
      

    </footer><!-- end footer visible-sm -->
<!--FOOTER -->





</body>
</html>
