<!DOCTYPE html>
<html>
<head>
  <title>Le Lapin Doux - local, small batch, handcrafted pastries in Newport News Virginia.  Le Lapin Doux sells small made-to-order, mainly French and Japanese inspired bakery items in the Hampton Roads Virginia area.  The owner and head baker, Gracinha, is Le Cordon Bleu Paris trained.</title>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%=csrf_meta_tags %>



</head>
<body>




  <!-- NAVBAR -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
        <div class="navhome" id="navhome">
            <a href="/" alt="logo"><img src="https://s3-us-west-2.amazonaws.com/lelapindoux/LOGO+NO+TEXT+WITH+WHISK+NAV.png"></a>
        </div>

      </nav> <!-- end nav -->
<!-- END NAVBAR -->





<%= yield %>

</body>
</html>
